.banner {
  padding-top: 135px;
  padding-bottom: 115px;
  background-size: cover;
  @media(max-width: 991px) {
    padding-top: 20px;
    padding-bottom: 0;
  }
  &_list {
    list-style: none;
    padding-bottom: 15px;
    padding-left: 120px;
    letter-spacing: -0.4px;
    @media(max-width: 1199px) {
      padding-left: 5px;
    }
    @media(max-width: 767px) {
      padding-bottom: 35px;
    }
    &-item {
      position: relative;
      margin-bottom: 10px;
      font-size: 20px;
      text-transform: uppercase;
      @media(max-width: 991px) {
        margin-bottom: 9px;
        font-size: 14px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0.5px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &:after {
        content: '-';
        position: absolute;
        left: -15px;
        top: 0;
      }
    }
  }
  &_form {
    margin: 0 75px 0 85px;
    padding: 18px 20px;
    border-radius: 3px;
    background-color: rgba(255,255,255,.8);
    @media(max-width: 1199px) {
      margin: 0;
    }
    @media(max-width: 767px) {
      padding: 12px 10px;
    }
    h4 {
      font-size: 16px;
      margin-bottom: 20px;
      padding: 0 30px;
      text-align: center;
      font-weight: 700;
      @media(max-width: 767px) {
        margin-bottom: 15px;

      }
    }
    input {
      display: block;
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      font-size: 20px;
      border-radius: 3px;
      border: 1px solid #bfbfbf;
      @media(max-width: 767px) {
        margin-bottom: 9px;
        padding: 9px;
      }
    }
    input[type="submit"] {
      margin-top: 23px;
      margin-bottom: 0;
      padding: 12px;
      background: #48b382;
      border: 0;
      color: #fff;
      @media(max-width: 575px) {
        margin-top: 18px;
        padding: 14px;
      }
    }
    .ajax-loader {
      position: absolute;
    }
  }
}