.footer {
  padding-top: 35px;
  padding-bottom: 32px;
  background-color: #002948;
  color: #fff;
  &_menu {
    margin-bottom: 35px;
    @media(max-width:767px){display: none;}
    .menu {
      display: flex;
      list-style: none;
      justify-content: center;
      &-item {
        margin-right:30px;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: -0.32px;
        &:last-child {margin-right: 0;}
      }
    }
  }
  &_contact {
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.28px;
    &:last-child {margin-bottom: 0;}
    i {
      font-size: 16px;
      margin-right: 5px;
    }
  }
}