body {
  font-family: 'Open Sans', regular;
  color: #343434;
}
h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.5px;
}
h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.8px;
}
h4 {
  font-size: 16px;
}
p {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.4px;
}